<!DOCTYPE html>
<html>
  <head>
    <%- head.title %>
    <%- head.meta %>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/components/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/components/site.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/components/container.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/components/grid.min.css">

    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/semantic/dist/components/site.min.js"></script>

    <% for(var i = 0; i < modules.length; i++) { %>
      <% if(modules[i].indexOf('.css') > -1){ %>
        <link rel="stylesheet" type="text/css" href="<%= modules[i] %>">
      <% }else{ %>
        <script type="text/javascript" src="<%= modules[i] %>"></script>
      <% } %>
    <% } %>

    <script>
      window.__INITIAL_DATA__ = <%- JSON.stringify(initData) %>;
    </script>
  </head>
  <body>
    <div id="app"><%- componentHTML %></div>
    <script type="text/javascript" src="/public/build.js"></script>
  </body>
</html>